/git test/.vs/ProjectEvaluation/git test.metadata.v6.1
/git test/.vs/ProjectEvaluation/git test.projects.v6.1
/git test/.vs/git test/FileContentIndex/653eab60-b6b2-4ea4-abc5-e77ff0dab4fd.vsidx
/git test/.vs/git test/FileContentIndex/873d5517-c8e4-4c7e-9beb-ba8ff0509c18.vsidx
/git test/.vs/git test/FileContentIndex/a0715000-7fec-4188-a293-ca683dc6f0e3.vsidx
